extends layout

include mixins/storeForm.pug
block content
  .inner
    h1= title

    +storeForm(store)

block scripts
  script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
  script(src="/dist/App.bundle.js")