extends layout

include mixins/resetPasswordForm
block content
  .inner
    h1= title

    +resetPasswordForm(token)

block scripts
  script.
    (() => {
      let resetBtn = document.querySelector('#reset-password');

      resetBtn.addEventListener('click', (e) => {
        const password = document.querySelector('[name="password"]').value;
        const rePassword = document.querySelector('[name="re-password"]').value;

        if (!password || !rePassword) {
          alert('Please fill out password and re-password');
          e.preventDefault();
          return;
        }

        if (password !== rePassword) {
          alert('Password and confirm password doesn\'t match');
          e.preventDefault();
          return;
        }
      });
    })()