mixin storeForm(store = {})
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input#name(type="text" name="name")
    label(for="description") Description
    textarea#description( name="description")
    - const choices = ['WiFi', 'open late', 'family friendly', 'vegetarian', 'licensed']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice)= choice
    input(type="submit" value="Save ->" class="button")