mixin storeForm(store = {})
    form(action='add' method='POST' envtype='multipart/form-data' class='card')
        label(for='name') Name
        input(type='text' name='name')
        label(for='description') Description
        textarea(name='description')
        - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed']
        ul.tags
            label(for='tags') Tags
            each choice in choices
                .tag.tag__choice
                    input(type='checkbox' id=choice value=choice name='tags')
                    label(for=choice) #{choice}
        input(type='submit' value='Save' class='button')