NODE_ENV=development
DATABASE=mongodb://user:pass@host.com:port/database
MAIL_USER=123
MAIL_PASS=123
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
PORT=7777
MAP_KEY=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0
SECRET=snickers
KEY=sweetsesh
