mixin resetPasswordForm(token)
  form.form(action="/account/reset" method="POST")
    h2 Reset Password
    label(for="password") Password
    input(type="password" name="password")
    label(for="re-password") Confirm password
    input(type="password" name="re-password")
    input(type="text" name="token" value=token hidden)
    input.button(type="submit" value="Reset password" id="reset-password")      
