extends layout

block content
  .inner
    h2= title
    form.form(action="/register" method="POST")
      label(for="name") Name
      input#name(type="text" name="name" required)
      label(for="email") Email address
      input#email(type="email" name="email" required)
      label(for="password") Password
      input#password(type="password" name="password" required)
      input#confirm-password(type="password" name="confirm-password" required)
      input(type="submit" value="Register ➡️" class="button")
